body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  flex-direction: column;
  justify-content: center;
}

.navbar-brand {
  font-size: 28px;
}

.searchContainer {
  align-content: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.cardGuessContainer {
  flex-direction: column;
  display: flex;
  min-width: 500px;
}

.cardGuess {
  align-items: center;
  font-size: 32px;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.cardSearchDropdown {
  height: 300px;
  font-size: 32px;
  width: auto;
}

.guessTable {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.clearButton {
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: auto;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
  font-size: 32px;
  z-index: -1;
}